{% extends 'admin/a_base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- <div class="inner-banner-w3ls py-5" id="home">
        <div class="container py-xl-5 py-lg-3"> -->
 <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Farmers List</h1>
        
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
            <thead>
				<th>Name</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Email</th>
			</thead>
	<tbody>
	{% for x in s %}
		<tr>
		<td>{{x.user_name}}</td>
		<td>{{x.user_address}}</td>
		<td>{{x.user_phone}}</td>
		<td>{{x.user_email}}</td>
    <td>
    <a href="{% url 'farmerapprove_url' x.user_id_id %}" onclick="alert('approved');">Approve</a></td>
    <td><a href="{% url 'farmerreject_url' x.user_id_id %}">Reject</a></td>
		</tr>
	{% endfor %}
</tbody>
</table>
</div>
<!-- </div>
</div> -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>


{% endblock %}


